Source: acme.sh
Priority: optional
Section: misc
Maintainer: Leo Chen <leo881003@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-exec,
Standards-Version: 4.6.2

Package: acme.sh
Architecture: all
Description: A pure Unix shell script implementing ACME client protocol
 An ACME protocol client written purely in Shell (Unix shell) language with full ACME protocol implementation.
Depends:
 ${misc:Depends},
 curl,
 openssl,
Recommends:
 socat,
