Source: acme.sh
Priority: optional
Maintainer: Leo Chen <leo881003@gmail.com>
Rules-Requires-Root: no
Section: web
Build-Depends:
 debhelper-compat (= 13),
 lsb-release,
 curl,
Standards-Version: 4.6.2

Package: acme.sh
Architecture: all
Description: A pure Unix shell script implementing ACME client protocol
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
